/* home.html styles*/
.containerhome{
    padding: 0px;
    margin: 0px;
    display: flex;
}
aside{
    background-color: #151428;
    min-width: 200px;
    width: 15%;
    height:900px;
    border-right: #ffb500 1px solid;
   
}
.userblock{
    background-color: #4e1bd2;
    padding: 10px;
    text-align: center;
    color: #fff;
}
.fa-user-tie{
    color: #4e1bd2;
    border-radius:50px ;
    border: #fff 1px solid;
    padding: 5px ;
    background-color: #fff ;
}
details{
    padding: 15px;
}
aside ul{
    padding: 0px;
}
aside ul li{
    list-style:none ;
    font-size: 16px;
    padding: 20px;
}

aside ul li:hover{
    background-color:#1d1c31;
    padding: 10px;
    width: 80%;
    border-radius: 0px 4px 4px 0px ;
    border-right: 1px solid #ffb500 ;
}
aside ul li.whiteicon:hover{
    color: #ffb500;
}
summary{
    color: #fff;
}
summary:hover{
    color: #ffb500;
}
details p a{
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
}
details p a:hover{
    text-decoration: none;
    color: #ffb500;
}
#Categories{
    width: 100%;
}
#Categories h1{
    text-align: center;
    margin-top: 8px;
    background-color: #4e1bd2;
    color: #fff;
    padding: 6px 12px;
    border: 0px;
    border-radius:4px ;
    align-self: center;
    margin-left: 40%;
    width: 20%;
    border: solid #fff 1px;
} 
#Categories img{
    height: 200px;
    width: 80%;
    border-radius: 50%;
    border: 5px solid #ccc;
}
.figures{
    display: flex;
}
figure{
    width: 100%;
    text-align: -webkit-center;
}
#laptop,#grocery{
  
    margin-left: 15%;
}
figcaption{
    text-align: center;
}
figcaption a{
    text-decoration: none;
    color: #1d1c31;
}
figure a:hover{
    color:#ffb500;
}
#Reservation{
    border: #3a334c 1px solid;
    border-radius: 4px;
    padding: 20px 20px;
    background-color: #1d1c31;
    color: #fff;
    right: 0px;
    margin-left:auto ;
    width: 25%;
    min-width: 400px;
    margin-right: 25% ;
}
#reserveform h1{
    color: #fff;
    font-size: 20px;
    text-align: center;
    border: solid #fff 1px;
    border-radius: 2px;
    padding: 5px;
}
