#grocery,#mensfashion,#womenfashon,#Laptops,#Phones{
    display: flex;
}
.categoryheader{
    text-align: center;
    margin-top: 8px;
    background-color: #4e1bd2;
    color: #fff;
    padding: 6px 12px;
    border: 0px;
    border-radius:4px ;
    align-self: center;
    font-size: 23px;
    margin: 0 auto;
    width: 15%;
    border: solid #fff 1px;
}

.carditem{
    margin-top: 15px;
    border: #4e1bd2 1px solid;
    border-radius: 4px;
    padding:7px;
    min-width:fit-content;
    width: 300px;
    text-align: -webkit-center;
}
figure img:hover{
    transform: scaleX(-1);
}
img + figcaption{
    border-bottom: #ccc 1px solid;
    font-weight: bold ;
    font-size: 18px;
    width: max-content;
}
.priceb{
   font-weight: bold;
   text-align: left;
}
.pricew{
    padding-top: 8px;
    text-align: left !important; 
}
.was{
    text-decoration: line-through;
    font-weight: bold;

}
.secondcontent span,.firstcontent span,.thirdcontent span{
    font-weight: bold;
    margin-right: -15px;
}
.secondcontent{
    margin:auto ;
}
