.container{
    display: flex;
}
.flexcontents{
    display: flex;
}
.flexprice{
    margin-left: 50px;
}
.flexpriceetc{
    margin-left: 200px;
}
#grocery h1,#mensfashion h1{
    text-align: center;
    margin-top: 8px;
    background-color: #4e1bd2;
    color: #fff;
    padding: 6px 12px;
    border: 0px;
    border-radius:4px ;
    align-self: center;
    margin-left: 25%;
    width: 50%;
    border: solid #fff 1px;
}
#grocery {
    margin-right: auto;
}
#mensfashion {
    margin-left:auto;
}
hr{
    border-color: rgb(241, 240, 240);
}
.was{
    text-decoration: line-through;
}
