body{
    margin: 0px;
    font-family: Tajawal;
    color: #151428;
}
nav{
    background-color: #151428;
    position:relative;
    border-bottom:solid 1px #ffb500 ;
    display: flex;
}
#logo{
width: 70px;
padding-top: 5px;
}
nav ul{
    margin: 0px;
    padding: 20px;
}
nav ul li{
    list-style:none ;
    display: inline;
    padding: 10px;
    font-size: 19px;
}
.whiteicon{
    color: #fff;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover{
    color: #ffb500;
}
header h1{
    text-align: center;
    color: #fff;
}
.container{
    padding: 20px 200px;
    margin: 20px;
}
.col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
  }
  
.col-50 {
    float: left;
    width: 50%;
    margin-top: 12px;
  }
#submit{
    margin-top: 8px;
    background-color: #4e1bd2;
    color: #fff;
    padding: 6px 12px;
    border: 0px;
    border-radius:4px ;
    margin-left: 50%;
    border: solid #fff 1px;
}
#submit:hover{

    background-color: #221c30;
    border: solid #ffb500 1px;
}
input, select, textarea {
    padding: 6px;
    border-radius: 4px;
    color: #1d1c31;
    border: 1px solid #ffb500;
  }
textarea{
    max-width:fit-content;
    min-width: fit-content;
}
input:focus,textarea:focus{
    background-color: #ccc;
}
footer{
    background-color: #151428;
    padding: 20px 20px;
    position:sticky;
    text-align: center;
    color: #fff;
    border-top: #ffb500 1px solid;
}